body {
    background-color:azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 15px;

}

main {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: rgb(175, 175, 129);
    padding: 5px;
}

nav li {
    padding-left: 5px;
    color: moccasin;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    width: 30%;
}

a:link {
    color: moccasin;
}

a:hover {
    color: crimson;
}

aside {
    background-color: lightslategray;
    display: inline-block;
    flex: 1 0 0;
    flex-wrap: wrap;
    width: 25%;
    padding: 1%;
    border-style: solid;
    border-color: black;
    margin: 5px;
}

aside img {
    height: 170px;
    width: 600x;
}

article {
    flex: 1 0 0;
    flex-wrap: wrap;
    width: 50%;
    padding: 1%;
    margin: 5px;
}

section {
    background-color: lightslategray;
    padding: 1%;
    border-style: solid;
    border-color: black;
    margin: 5px;
}

footer {
    color: moccasin;
    padding-top: 1px;
    padding-left: 15px;
    padding-bottom: 15px;
    list-style-type: none;
    background-color: rgb(175, 175, 129)
}

footer li {
    color: rgb(115, 38, 186);
}

h1 {
    color: moccasin;
    text-shadow: 2px 2px black;
}

h2 {
    color: moccasin;
    text-shadow: 2px 2px black;
}

h3 {
    color: moccasin;
    text-shadow: 2px 2px black;
}

h4 {
    color: moccasin;
    text-shadow: 2px 2px black;
}

h5 {
    color: moccasin;
    text-shadow: 2px 2px black;
}

